!    _    ____
!   / \  | __ )	https://gitlab.com/ifanatical
!  / _ \ |  _ \
! / ___ \| |_) |
!/_/   \_\____/  	


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:source code pro, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm*savelines: 16384

URxvt*imLocale: en_US.UTF-8
URxvt*termName: xterm
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:source code pro:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

Xcursor.theme: Breeze
Xcursor.size: 18

*.foreground:   #fcfcfc
*.background:   #232627
*.cursorColor:  #fcfcfc

! black
*.color0:       #232627
*.color8:       #7f8c8d

! red
*.color1:       #ed1515
*.color9:       #c0392b

! green
*.color2:       #11d116
*.color10:      #1cdc9a

! yellow
*.color3:       #f67400
*.color11:      #fdbc4b

! blue
*.color4:       #1d99f3
*.color12:      #3daee9

! magenta
*.color5:       #9b59b6
*.color13:      #8e44ad

! cyan
*.color6:       #1abc9c
*.color14:      #16a085

! white
*.color7:       #fcfcfc
*.color15:      #ffffff

XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
