!    _    ____
!   / \  | __ )	https://gitlab.com/ifanatical
!  / _ \ |  _ \
! / ___ \| |_) |
!/_/   \_\____/  	


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:source code pro, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm*savelines: 16384

URxvt*imLocale: en_US.UTF-8
URxvt*termName: xterm
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:source code pro:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12   
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white

Xcursor.theme: Breeze_Light
Xcursor.size: 24

*.foreground:   #BBC2CF
*.background:   #2E3440
*.cursorColor:  #81A1C1

! black
*.color0:       #2E3440
*.color8:       #4C566A

! red
*.color1:       #BF616A
*.color9:       #FF6C6B

! green
*.color2:       #A3BE8C
*.color10:      #8FBCBB

! yellow
*.color3:       #EBCB8B
*.color11:      #ECBE7B

! blue
*.color4:       #5E81AC
*.color12:      #81A1C1

! magenta
*.color5:       #B48EAD
*.color13:      #A9A1E1

! cyan
*.color6:       #88C0D0
*.color14:      #46D9FF

! white
*.color7:       #D8DEE9
*.color15:      #ECEFF4

XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
