@define-color critical #c0392b;
@define-color warning #f67400;
@define-color fgcolor #fcfcfc;
@define-color bgcolor #232627;
@define-color alert #f67400;

/* black */
@define-color black #232627;
@define-color black-bright #7f8c8d;

/* red */
@define-color red #ed1515;
@define-color red-bright #c0392b;

/* green */
@define-color green #11d116;
@define-color green-bright #1cdc9a;

/* yellow */
@define-color yellow #f67400;
@define-color yellow-bright #fdbc4b;

/* blue */
@define-color blue #1d99f3;
@define-color blue-bright #3daee9;

/* magenta */
@define-color magenta #9b59b6;
@define-color magenta-bright #8e44ad;

/* cyan */
@define-color cyan #1abc9c;
@define-color cyan-bright #16a085;

/* white */
@define-color white #fcfcfc;
@define-color white-bright #ffffff;

* {
    font-family: Ubuntu Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/*window#waybar {
    background-color: rgba(28, 31, 36, 0.87);
    border-bottom: 2px solid rgba(81, 175, 239, 1);
    color: #ff6c6b;
    transition-property: background-color;
    transition-duration: .5s;
}
*/

window#waybar {
    background: @theme_base_color;
    color: @blue;
}


window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button.empty {
    padding: 0 5px;
    margin: 0 5px 0 0;
    background-color: transparent;
    color: @black-bright;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 5px 0 0;
    background-color: transparent;
    color: @white;
}

#workspaces button:hover {
    color: @fgcolor;
    background: rgba(29, 153, 243, 0.5);
}

#workspaces button.focused {
    background-color: @theme_base_color;
    box-shadow: inset 0 -2px @red;
}

#workspaces button.urgent {
    color: @critical;
    background-color: @theme_base_color;
}

#workspaces button.visible {
    padding: 0 5px;
    margin: 0 5px 0 0;
    background-color: transparent;
    color: @yellow;
    box-shadow: inset 0 -2px @yellow;
    /* border-bottom: 2px solid @yellow; */
}

#workspaces button.active {
    padding: 0 5px;
    margin: 0 5px 0 0;
    background-color: transparent;
    color: @blue;
    box-shadow: inset 0 -2px @blue;
    /* border-bottom: 2px solid @blue; */
}

button {
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#mode {
    background-color: @theme_base_color;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-dunst,
#custom-media,
#custom-kernel,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: @fgcolor;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @theme_base_color;
    color: @fgcolor;
    /*box-shadow: inset 0 -3px #232627;*/
}

#battery {
    background-color: @theme_base_color;
    color: @black;
}

#battery.charging, #battery.plugged {
    background-color: @theme_base_color;
    color: @white-bright;
}

@keyframes blink {
    to {
 background-color: @white-bright;
 color: @black;
    }
}

#battery.critical:not(.charging) {
    background-color: @theme_base_color;
    color: @white-bright;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @theme_base_color;
}

#cpu {
    background-color: @theme_base_color;
    min-width: 40px;
    color: @green;
    box-shadow: inset 0 -2px @green;
}

#memory {
    background-color: @theme_base_color;
    min-width: 40px;
    color: @magenta;
    box-shadow: inset 0 -2px @magenta;
}

#disk {
    background-color: @theme_base_color;
}

#backlight {
    background-color: @theme_base_color;
}

#network {
    background-color: @theme_base_color;
    color: @yellow;
    box-shadow: inset 0 -2px @yellow;
}

#network.disconnected {
    background-color: @theme_base_color;
    color: @red-bright;
    box-shadow: inset 0 -2px @red-bright;
}

#pulseaudio {
    background-color: @theme_base_color;
    color: @blue;
    min-width: 35px;
    box-shadow: inset 0 -2px @blue;
}

#pulseaudio.muted {
    background-color: @theme_base_color;
    color: @red-bright;
    min-width: 35px;
    box-shadow: inset 0 -2px @red-bright;
}

#wireplumber {
    background-color: @theme_base_color;
    color: @black;
}

#wireplumber.muted {
    background-color: @theme_base_color;
}

#custom-kernel {
    background-color: @theme_base_color;
    color: @red-bright;
    min-width: 75px;
    box-shadow: inset 0 -2px @red-bright;
}

#custom-dunst {
    background-color: @theme_base_color;
    color: @blue;
    min-width: 15px;
    box-shadow: inset 0 0 @blue;
    margin: 0 0 0 0;
}

#custom-media {
    background-color: @theme_base_color;
    color: #2a5c45;
    min-width: 75px;
}

#tray {
    background-color: @theme_base_color;
    padding: 4px
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @theme_base_color;
}

#idle_inhibitor {
    background-color: @theme_base_color;
}

#idle_inhibitor.activated {
    background-color: @theme_base_color;
    color: #2d3436;
}

#language {
    background: @theme_base_color;
    color: @cyan;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: @theme_base_color;
    color: @black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @theme_base_color;
}

#scratchpad {
    background: @theme_base_color;
}

#scratchpad.empty {
	background-color: @theme_base_color;
}
